.square {
    border-style: thin;
    margin: 1px;
    background-color: white;
}

.row {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.container {
    width: auto;
    height: auto;
}